<form action="/department/AddNewDepartment" method="post">
    <div class="mb-3" >
        <label for="deptname" class="form-label" >Name</label>
        <input type="text" class="form-control" id="addname" name="Name">
    </div>
    <div class="mb-3">
        <label for="deptmanager" class="form-label">Manager</label>
        <input type="text" class="form-control" id="addmanager" name="Manager">
    </div>
    <div class="mb-3">
        <label for="deptlocatio" class="form-label">Location</label>
        <input type="text" class="form-control" id="addlocation" name="location">
    </div>
    <div class="mb-3">
        <label for="deptbranch" class="form-label">Branch</label>
        <select name="branch" class="form-control">
            <option value="">-- Select Branch --</option>
            <option value="0">Cairo</option>
            <option value="1">Alexandria</option>
            <option value="2">Giza</option>
            <option value="3">Mansoura</option>
            <option value="4">Aswan</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>