@model Department

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>

</div>
<div class="mb-3">
    <label asp-for="Manager" class="form-label"></label>
    <input asp-for="Manager" class="form-control" />
    <span asp-validation-for="Manager" class="text-danger"></span>

</div>
<div class="mb-3">
    <label asp-for="location" class="form-label"></label>
    <input asp-for="location" class="form-control" />
    <span asp-validation-for="location" class="text-danger"></span>

</div>
@Html.DropDownListFor(m => m.branch, Html.GetEnumSelectList<branches>(), new { @class = "form-control" })