<div class="card" style="width: 18rem;">
    @* <img src="/assets/img/@Model.Image" class="card-img-top" alt="..."> *@
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Topic</p>
        <p class="card-text">@Model.Degree</p>
        <p class="card-text">@Model.MinDegree</p>

        @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
    </div>
</div>